#card-container {
    padding: 20px;
    max-width: 1800px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 auto;
    justify-content: center;
    
}
.default-card {
    background-color: rgba(255, 255, 255, 0.4); /* 40% transparent white */
    border: 1px solid rgba(255, 255, 255, 0.5); /* subtle border */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.5);
    margin-bottom: 20%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    min-height: 250px; 
    min-width: 250px;
    max-width: 400px;
    flex: 1 1 250px;    
    box-sizing: border-box;
}
.default-card * {
    font-weight: bold !important;
    color: #1E3E62 !important;
    
}
.default-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 16px rgba(255, 255, 255, 0.8);
}

.city-name{
    margin-top: 0;
}
.city {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}
.icon img {
    width: 90px;
    height: 90px;
}
.temp {
    font-size: 1.8em;
    margin: 5px 0;
}
.description {
    font-size: 1em;
    color: #443C68;
    margin-bottom: 10px;
}

.description{
    display: flex;
    justify-content: space-around;
}
