
 body{
    background-color: #9ACBD0;
    margin: 0;
    min-height: 100vh; /* Ensure body takes full viewport height */
    display: flex;
    flex-direction: column;
    background-image: url(../assets/image/Lite\ Theme.png);
    /* background-image: url(image/Dark\ Theme.png); */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    background-attachment: fixed; /* Optional: Fixed background while scrolling */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#content-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* Semi-transparent overlay to improve text readability */ 
    background-color: rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
    
}
#pageTitle {
    color: #393E46;
    font-weight: bold;
    padding-left: 1em;
    margin-bottom: 30px;
    align-self: flex-start;
    font-size: clamp(1.5em, 4vw, 2em);  /* Responsive font size */
}
#weather-card{
    width: 85vw;
    margin-top: 1%;
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: all 0.3s ease;
    overflow: hidden;

}


.weather-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.weather-header .weather-info h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #1E3E62;
}

.weather-header .weather-info p {
  font-size: 1.1rem;
  color: #443C68;
  margin-top: 4px;
}

.weather-header .weather-icon img {
  width: 200px;
  height: 200px;
}
.weather-header img {
  width: 70px;
  height: 70px;
}

.weather-info {
  text-align: center;
}
.temperature {
  text-align: center;
  margin-bottom: 20px;
}

.temperature h1 {
  font-size: 4rem;
  margin-bottom: 8px;
  color: #1E3E62;
}

.temperature p {
  font-size: 1.2rem;
  color: #443C68;
}


.weather-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  font-size: 1.1rem;
  color: #443C68;
}

.weather-details div {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
/* completed */
